<template>
  <header class="p-10">
    <ul class="w-full flex justify-center items-center gap-6">
      <li>
        <NuxtLink to="/" class="header-link">Home</NuxtLink>
      </li>
      <li>
        <NuxtLink to="/portfolio" class="header-link">Portfolio</NuxtLink>
      </li>
      <li>
        <NuxtLink to="/contact" class="header-link">Contact</NuxtLink>
      </li>
    </ul>
  </header>
</template>

<style scoped>
.header-link {
  @apply relative font-bold tracking-wider hover:text-white duration-300 md:text-xl text-lg;
}

.header-link::after {
  @apply content-[''] bg-pink-500 h-0.5 w-0 left-0 -bottom-1 rounded-xl absolute duration-300;
}

.header-link:hover::after {
    @apply w-full;
}
</style>