<template>
  <main class="flex-1 flex justify-center items-start p-2">
    <article class="w-full prose prose-invert">
      <ContentDoc>
        <template #not-found>
          <h1>Not Found</h1>
          <div class="flex justify-start items-center gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
            <p>Page Not Found</p>
          </div>
        </template>
      </ContentDoc>
    </article>
  </main>
</template>