<template>
  <main class="flex-1 flex justify-center items-center">
    <section class="flex justify-center items-center flex-wrap gap-10">
      <div>
        <h1 class="text-3xl">Esteban</h1>
        <h2 class="text-lg">Full Stack Developer</h2>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-20 h-20"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z"
        />
      </svg>
    </section>
  </main>
</template>

<script setup>
useHead({
  title: 'Home'
})
</script>